{% extends '../base.html' %}
{% load train %}


{% block banner %} main-banner inner {% endblock %}

{% block content %}

<div class="container">
    <div class="row p-5"; style="font-size: 25px">
        NEAREST POLICE STATION:
    </div>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Lanka Police Station</td>
        <td>094544 04390</td>
        </tr>
        <tr>
        <td>Police Station Chetganj</td>
        <td>0542 241 4150</td>
        </tr>
        <td>Jaitpura Police Station</td>
        <td>0542 241 4150</td>
        </tr><td>Kotwali Police Station</td>
        <td>0542 241 4780</td>
        </tr><td>Chowk Thana Varanasi</td>
        <td>0542 451 4150</td>
        </tr>
    </tbody>
    </table>
</div>

{% endblock %}